<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Snake Chat</title>
	<link rel="stylesheet" href="/media/css/css.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript" charset="utf-8">
		function sock(data) {
			$('div.console').append(data);
		}
	</script>
</head>
<body>
<div class="console_holder">
	{% if message %}
		<div class="message">{{ message }}</div>
	{% endif %}
	<input type="hidden" value="0" id="last_updated">
	<div class="console">
		{% include "chat_feed.html" %}
	</div>
	
	<form id="command" method='post' action='/post/'>
		<input type="text" name="username" id="username" />
		<input type="text" name='message' id="input"/>
		<input class='hide' type="submit" value="Add">
	</form>
	
	<p class="quick">Add a custom command:
		<form id="add_form" method='post' action='.'>
			Command: <input type="text" name="command_name" />
			Output: <input type="text" name="command_output" />
			<input class="button" type="submit">
		</form>
	</p>
</div>
<div class="help hide">
	<ul>
		<li><b>commands</b></li>
		{% for c in commands.objects %}
			<li>{{c.command}}</li>
		{% endfor %}
	</ul>
</div>

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="1" height="1" id="flashsocket-debug" align="middle">
<param name="allowScriptAccess" value="sameDomain">
<param name="movie" value="/media/flashsocket-debug.swf">
<param name="quality" value="high">
<param name="bgcolor" value="#FFFFFF">
<embed src="/media/flashsocket-debug.swf" quality="high" bgcolor="#FFFFFF" width="1" height="1" name="flashsocket-debug" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
</object>


</body>

<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="/media/js/cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="/media/js/script.js" type="text/javascript" charset="utf-8"></script>
</html>
